<button mat-raised-button color="primary" (click)="this.showFeedback = true">
  Feedback
</button>
<br />
<mat-card class="feedback-card" *ngIf="this.showFeedback">
  <button mat-icon-button close="close" (click)="this.showFeedback = false">
    <mat-icon style="color: darkgrey">close</mat-icon>
  </button>

  <h2>Please give your feedback</h2>
  Rate our feature:
  <mat-slider
    color="primary"
    thumbLabel
    tickInterval="1"
    min="0"
    max="5"
    [(ngModel)]="rating"
  ></mat-slider>
  <br />
  <mat-form-field>
    <mat-label>Leave a comment</mat-label>
    <textarea
      matInput
      rows="5"
      [(ngModel)]="comment"
      placeholder="I like this feature because.."
    ></textarea>
  </mat-form-field>
  <button mat-mini-fab class="send" color="primary" (click)="send()">
    <mat-icon>send</mat-icon>
  </button>
</mat-card>
